<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.mapper.Order_InfoMapper">
  <resultMap id="BaseResultMap" type="com.jd.enity.Order_Info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="address_id" jdbcType="INTEGER" property="address_id" />
    <result column="pay_id" jdbcType="INTEGER" property="pay_id" />
    <result column="status_id" jdbcType="INTEGER" property="status_id" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="transport_id" jdbcType="INTEGER" property="transport_id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="pay_date" jdbcType="TIMESTAMP" property="pay_date" />
    <result column="confirm_date" jdbcType="TIMESTAMP" property="confirm_date" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, address_id, pay_id, status_id, price, transport_id, create_date, pay_date, 
    confirm_date, remark
  </sql>
  <select id="getAllOrder" resultMap="BaseResultMap">
    select * from Order_Info;
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Order_Info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Order_Info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getLatestId" resultType="java.lang.Integer">
    select max(id) from Order_Info
  </select>

  <insert id="insert" parameterType="com.jd.enity.Order_Info">
    insert into Order_Info (id, user_id, address_id, 
      pay_id, status_id, price, 
      transport_id, create_date, pay_date, 
      confirm_date, remark)
    values (#{id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, #{address_id,jdbcType=INTEGER}, 
      #{pay_id,jdbcType=INTEGER}, #{status_id,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{transport_id,jdbcType=INTEGER}, #{create_date,jdbcType=TIMESTAMP}, #{pay_date,jdbcType=TIMESTAMP}, 
      #{confirm_date,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.enity.Order_Info">
    insert into Order_Info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="address_id != null">
        address_id,
      </if>
      <if test="pay_id != null">
        pay_id,
      </if>
      <if test="status_id != null">
        status_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="transport_id != null">
        transport_id,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="pay_date != null">
        pay_date,
      </if>
      <if test="confirm_date != null">
        confirm_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=INTEGER},
      </if>
      <if test="address_id != null">
        #{address_id,jdbcType=INTEGER},
      </if>
      <if test="pay_id != null">
        #{pay_id,jdbcType=INTEGER},
      </if>
      <if test="status_id != null">
        #{status_id,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="transport_id != null">
        #{transport_id,jdbcType=INTEGER},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_date != null">
        #{pay_date,jdbcType=TIMESTAMP},
      </if>
      <if test="confirm_date != null">
        #{confirm_date,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.enity.Order_Info">
    update Order_Info
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="address_id != null">
        address_id = #{address_id,jdbcType=INTEGER},
      </if>
      <if test="pay_id != null">
        pay_id = #{pay_id,jdbcType=INTEGER},
      </if>
      <if test="status_id != null">
        status_id = #{status_id,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="transport_id != null">
        transport_id = #{transport_id,jdbcType=INTEGER},
      </if>
      <if test="create_date != null">
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="pay_date != null">
        pay_date = #{pay_date,jdbcType=TIMESTAMP},
      </if>
      <if test="confirm_date != null">
        confirm_date = #{confirm_date,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.enity.Order_Info">
    update Order_Info
    set user_id = #{user_id,jdbcType=INTEGER},
      address_id = #{address_id,jdbcType=INTEGER},
      pay_id = #{pay_id,jdbcType=INTEGER},
      status_id = #{status_id,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      transport_id = #{transport_id,jdbcType=INTEGER},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      pay_date = #{pay_date,jdbcType=TIMESTAMP},
      confirm_date = #{confirm_date,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>