.header{height: 100px; margin-left: 200px; margin-right: 200px; float: left; width: 1100px;}
.header span{font-size: 36px; color: #007bff; letter-spacing: 10px; float: right; margin-top: 25px; margin-right: 220px; font-weight: bold}

.mangement{margin-left: 200px; margin-right: 200px; width: 1100px; margin-top: 20px;float: left; border: 1px solid #666666; }
.left-menu{width: 200px; height: auto; border-color: #666666; border-width: 1px; float: left}
.navbar-header{font-weight: bold; background-color: #cccccc; width: 200px; height: 50px}
.left-menu li{height: 40px}

.right-table{width: 838px; height: auto; float: left; margin-top: 20px; margin-left: 30px; margin-right: 30px}
.locate span{font-size: 16px;}
.locate span a{text-decoration: none; color: blue;}
.locate span a:hover{color: red}
.table{width: 600px; margin-top: 50px;}
.table caption{font-size: 20px; font-weight: bold; text-align: center}
/*li a:hover{*/
/*    color: cornflowerblue;*/
/*}*/

table{
    display: none;
}














































































