/*基础*/
* {margin: 0;padding: 0;}
body{font-family: "Avant Garde","Tahoma","微软雅黑","SimHei";background: white;}
a{text-decoration: none; }
/*导航栏*/
/*搜索*/
.header{width: 100%;height: 30px;  background-color: gainsboro; font-size: 13px; margin-top: -10px}
.header ul{color: #666666; list-style: none; *margin-top:-20px}
.header ul li{padding: 3px 0px 0px 0px;}
.header ul li img{width: 16px; height: 13px; padding: 2px 0px 0px 0px}
.header ul li a{color: #666666}

.top{width: 100%; height: 150px; margin-right: 200px; margin-left: 200px;}
.top-img img{height: 120px;}

#searchdiv{float:left;margin: 27px 30px 0 95px}
#searchtext{float: left;width:460px;height: 36px;line-height:36px;padding: 4px;margin-bottom: 4px;border-width: 2px 0 2px 2px;border-color: red;border-style: solid;outline: 0;font-size: 12px;}
#searchbutton{float:left;width: 80px;height: 48px;font-family: "Avant Garde", "Tahoma", "微软雅黑", "SimHei";background: red;border: none;border-radius: 0;line-height: 1;color: #ffffff;
    font-size: 16px;cursor:pointer;}

.item{height:33px;padding: 0 60px;border-bottom-color: red;border-bottom-width: 4px;}
#w{background-color: #F5F5F5}
#div_mianline{float:left;width: 190px;height: 33px;background: red;}
#mianline{float:left;width: 190px;height: 33px;}
#mainitem{font-size: 22px;color: #ffffff}
#second{float:left;width: 72px;height: 33px;}
#spacer{float:left;width: 1px;height: 33px;padding: 10px 0;background: #cccccc}
.item ul{line-height: 33px;padding:0 22px;float:left;}
#line{float:left;}


/*main*/
#puduct_used{height:480px;margin: 0 60px;}
#productdemo{float: left;width: 240px;height: 466px;margin: 10px 10px}
.productmain{width: 240px;height: 440px;margin-right:20px;padding: 19px 9px;background: #F5F5F5}
.productprice{float: left;width: 240px;height: 24px;margin: 0 0 8px;line-height: 24px;font-size: 20px;color: red;}
.productname{float: left;width: 240px;height: 24px;margin: 0 0 8px;line-height: 24px;font-size: 16px;color: black;}
.producttitle{float: left;width: 240px;height: 70px;margin: 0 0 8px;line-height: 24px;font-size: 12px;color: #666666;}
.price{margin: 0 10px;font-size: 20px;color: red;float: left;}
.name{margin: 0 10px;font-size: 16px;color: black;float: left;}
.title{margin: 0 10px;font-size: 12px;color: #666666;float: left;}
/*底部*/

#footer {
    height: 400px;
    width: 990px;
    background-color: #ffffff;
    margin: 0px auto;
    clear: both;
}

#service-2014 {
    margin-bottom: 20px;
}

#service-2014 dl {
    float: left;
    width: 120px;
    padding-left: 20px;
}

#service-2014 dl.fore5 {
    width: 100px
}

#service-2014 dt {
    padding: 6px 0;
    font: 400 16px/24px "microsoft yahei"
}

#service-2014 dd {
    line-height: 20px
}

#service-2014 .slogan {
    height: 54px;
    padding: 20px 0;
    margin-bottom: 14px;
    background: #F5F5F5;
    text-align: center
}

#service-2014 .slogan img {
    margin-right: 20px;
    text-align: center;
}

#service-2014 .item {
    display: inline-block;
    left: 50%;
    top: 20px;
    width: 240px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    font: 400 18px/50px "microsoft yahei"
}

#coverage {
    float: right;
    width: 300px;
    height: 168px;
    background: no-repeat 60px -131px;
}

#coverage .dt {
    padding: 6px 40px 15px 80px;
    font: 400 16px/24px "microsoft yahei"
}

#coverage .dd {
    padding: 0 40px 15px 80px
}

.copyright {
    clear: both;
    text-align: center;
}